*{
    margin: 0;
    padding: 0;
    border-style: none;
    position: relative;
    font-family: "Goldman Bold";
}
html, body{
    overflow-x: hidden;
    box-sizing: border-box;
}
body > *{
    width: 100%;

}
#menu{
    float:right;
    margin-right: 30px;
    align-items: center;
}
#menu a{
    padding: 15px 20px 20px 20px;
    text-decoration:none;
    Color: white;
    text-shadow: 1px 1px #111111;
    font-size: calc(1px + 2.5vw);
    font-family: "Goldman Bold";
    font:bold;
}
#menu a:hover{
   /* color:white; */
   background-color:white;
   color: #193094;
   border-radius: 20px;
   transition:0.75s;
}
nav{
    position: absolute;
    top:0;
    left:0;
    padding: 4vh, 5vw;
    background-color: transparent;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    margin-left:7%;
    width:calc(12vw);
    border-radius: 25px;
}
#home .frase, p{
    font-size: 5vw;
    color:white;
}
.frase{
    z-index: 50;
    float: left;
    align-items: center;
    margin-top: -30%;
    margin-left: 10%;
}


#serviços, p{
    font-size: 2vw;
    color:white;
}
#serviços, h1{
    padding-bottom: 3%;
    font-size: 3vw;
    color:white;
}
#serviços{
    clear:both;
    background-color:#193094;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.consultoria{
    padding: 5vh;
    text-align: justify;
    width: 70%;
}
.consultorio{
    padding: 5vh;
    text-align: justify;
    width: 70%;
}
.segurança{
    padding: 5vh;
    text-align: justify;
    width: 70%;
}
.pops{
    padding: 5vh;
    text-align: justify;
    width: 70%;
}

#quemSomos{
    width: 100%;
    z-index: 100;
    background-color: rgba(25, 48, 148,0.5);
}
