
*{
    margin: 0;
    padding: 0;
    border-style: none;
    position: relative;
    font-family: "goldman";
}
html, body{
    overflow-x: hidden;
    box-sizing: border-box;
}
body > *{
    width: 100%;

}
#menu{
    float:right;
    margin-right: 30px;
    align-items: center;
}
#menu a{
    padding: 15px 20px 20px 20px;
    text-decoration:none;
    Color: white;
    text-shadow: 1px 1px #111111;
    font-size: calc(1px + 2.5vw);
    font-family: "Goldman";
    font:bold;
}
#menu a:hover{
   /* color:white; */
   background-color:white;
   color: #193094;
   border-radius: 7px;
   transition:0.3s;
}
nav{
    position: fixed;
    top:0;
    left:0;
    padding: 4vh, 5vw;
    background-color:  rgba(25, 48, 148,1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    /*margin-left:7%;*/
    width:calc(9vw);
    border-radius: 15px;
}

#home > .tint{
    background-color: rgba(25, 48, 148,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
}

#home > .frase > p{
    font-size: 12vw;
    color:white;
    width:50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;

}

.button {
    background-color: transparent;
    margin-top: 3vh;
    padding: 2vw;
    font-size: 2vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: white;
    color: white;
    
}

.frase{
    z-index: 50;
    float: left;
    align-items: center;
    margin-top: -40%;
    margin-left: 10%;
}



#serviços, p{
    font-size: 2vw;
    color:white;
}
#serviços, h1{
    padding-bottom: 3%;
    font-size: 3vw;
    color:white;
}
#serviços{
    clear:both;
    background-color:#193094;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.consultoria{
    padding: 5vh 5vw 5vh 25vw;
    text-align: justify;
    width: 70%;
}
.consultoria-imagem{
    top:0px;
    left:0px;
    float:left;
    width: 50px;
    height: 15px;
}

.consultorio{
    padding: 5vh 5vw 5vh 25vw;
    text-align: justify;
    width: 70%;
}
.segurança{
    padding: 5vh 5vw 5vh 25vw;
    text-align: justify;
    width: 70%;
}
.pops{
    padding: 5vh 5vw 5vh 25vw;
    text-align: justify;
    width: 70%;
}

#quemSomos{
    background:  rgb(25, 48, 148);
}

#quemSomos > .tint1{
        background-color: rgba(25, 48, 148,0.9);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 50;
}
#quemSomos > .texto-historia > p {
    font-size: 2.5vw;
    color:white;
    text-align:center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 70;
    padding: 20px 20vw 10vh 20vw;

}






#visao > .tint2{
        background-color: rgba(25, 48, 148,0.9);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 50;
}

#contato{
    width: 100%;
    left: 0px;
    top: 0px;
    height:500px;

    background-color:rgb(25, 48, 148) ;
}




footer{
    height: 50vh;
    width: 100%;
    background-color: white;
    position: relative;


}
.mapa{
    text-align: right;
}

